
<!--   @JsonProperty("id")
  private Integer id = null;

  @JsonProperty("name")
  private String name = null;

  @JsonProperty("email")
  private String email = null;

  @JsonProperty("skills")
  private String skills = null;

  @JsonProperty("college")
  private String college = null;

  @JsonProperty("freelancerid")
  private Freelancer freelancerid = null; -->



<div class="employerAddKobContainer" id="freelancerCreateProfile">
    <p class="employerAddJobLabnel"><b>ProfileName</b></p>
    <input type="text" placeholder="Enter a name for this profile" name="jobtitle" id="freelancerCreateProfileNameText" class="employerAddJobTextBox">
    <p class="employerAddJobLabnel"><b>Skills and Experience</b></p>
    <input type="text" placeholder="Skills, experience, and certifications" name="requirdskills" id="freelancerCreateProfileSkillsText" class="employerAddJobTextBox">
    <p class="employerAddJobLabnel"><b>College</b></p>
    <input type="text" placeholder="" name="jobdesciption" id="freelancerCreateProfileCollegeText">
    <button type="button" id="profileCancelButton">Cancel</button>
    <button type="button" id="freelancerCreateProfileCreateButton">Create</button>
    
  
  <!-- 			  <p class="green"></p>
    <p class="blue"></p>
    <p class="red"></p> -->
  
  </div>



