<!-- <p>
  <label for="employerCreateJobTitleText"><b>Job Title</b></label>
  <input type="text" placeholder="Enter job title" name="jobtitle" id="employerCreateJobTitleText">
</p>
<p>
  <label for="employerCreateJobRequiredSkills"><b>Required Skills</b></label>
  <input type="text" placeholder="Enter required skills" name="requirdskills" id="employerCreateJobRequiredSkills">
</p>
<p>
  <label for="employerCreateJobDescriptionText"><b>Description</b></label>
  <input type="text" placeholder="Enter job description" name="jobdesciption" id="employerCreateJobDescriptionText">
</p>
<p>
  <label for="employerCreateJobPayrate"><b>Pay Rate</b></label>
  <input type="text" placeholder="Enter job title" name="jobpayrate" id="employerCreateJobPayrate">
</p>
<p>
  <button type="button" id="employerCreateJobButton">Create</button>
  <button type="button" id="employerCreateJobCancelButton">Cancel</button>
</p> -->

<div class="employerAddKobContainer" id="employerCreateJobForm">
  <p class="employerAddJobLabnel"><b>Job Title</b></p>
  <input type="text" placeholder="Enter job title" name="jobtitle" id="employerCreateJobTitleText" class="employerAddJobTextBox">
  <p class="employerAddJobLabnel"><b>Required Skills</b></p>
  <input type="text" placeholder="Enter required skills" name="requirdskills" id="employerCreateJobRequiredSkills" class="employerAddJobTextBox">
  <p class="employerAddJobLabnel"><b>Description</b></p>
  <input type="text" placeholder="Enter job description" name="jobdesciption" id="employerCreateJobDescriptionText">
  <p class="employerAddJobLabnel"><b>Pay Rate</b></p>
  <input type="text" placeholder="Enter pay rate" name="payrate" id="employerCreatePayrateText">
  <button type="button" id="employerCreateJobCancelButton">Cancel</button>
  <button type="button" id="employerCreateJobButton">Create</button>
  

<!-- 			  <p class="green"></p>
  <p class="blue"></p>
  <p class="red"></p> -->

</div>
