<div id="freelancerJobApplicationPage" class="fogBackground">
    <div class="freelancerJobGrid">
        <p class="gridRightAlighCol"><b>Job Title:</b></p>
        <p class="freelancerJobApplicationJobTitle"></p>
        <p class="gridRightAlighCol"><b>Description:</b></p>
        <p class="freelancerJobApplicationJobDescription"></p>
        <p class="gridRightAlighCol"><b>Required Skills:</b></p>
        <p class="freelancerJobApplicationRequiredSkills"></p>
        <p class="gridRightAlighCol"><b>Pay:</b></p>
        <p class="freelancerJobApplicationJobPay"></p>
    </div>
  
    <div class="freelancerJobApplicationSpacerGrid"><p></p></div>
    <hr>
    <div class="freelancerJobApplicationSpacerGrid"><p></p></div>
    
    <div class="freelancerJobGrid">
      <p class="gridRightAlighCol"><b>Freelancer name:</b></p>
      <p class="employerJobAppDetailFreelancerName"></p>

      <p class="gridRightAlighCol"><b>About:</b></p>
      <p class="employerJobAppDetailFreelancerAbout"></p>

      <p class="gridRightAlighCol"><b>Experience level:</b></p>
      <p class="employerJobAppDetailExperienceLevel"></p>

      <p class="gridRightAlighCol"><b>Profile:</b></p>
      <p class="employerJobAppDetailProfileName"></p>

      <p class="gridRightAlighCol"><b>Skills:</b></p>
      <p class="employerJobAppDetailSkills"></p> 

      <p class="gridRightAlighCol"><b>Cover Letter:</b></p>
      <p class="employerJobAppDetailCoverLetter"></p> 



    </div>
  
    <div class="freelancerJobApplicationSpacerGrid"><p></p></div>
    <hr>
    <div class="freelancerJobApplicationSpacerGrid"><p></p></div>
  
    <div class="freelancerJobDetailButtonGrid" id = "freelancerJobApplicationButtonSet">
      <button type="button" id="freelancerJobApplicationBackButton">Cancel</button>
      <p></p>
      <button type="button" id="freelancerJobApplicationAcceptButton">Accept Application</button>
    </div>
  </div>