<!-- <div>
  <label for="profileName"><b>Profile Name</b></label>
  <input type="text" placeholder="Enter Username" name="profileName" id="profileEditNameText">

  <label for="collegeTextBox"><b>Password</b></label>
  <input type="text" placeholder="Enter Password" name="collegeTextBox" id="profileEditCollgeText">

  <button type="button" id="profileEditSaveButton">Save</button>
  <button type="button" id="profileEditBackButton">Back</button>
</div> -->

<div class="employerAddKobContainer" id="freelancerEditProfile">
  <p class="employerAddJobLabnel"><b>ProfileName</b></p>
  <p class="employerAddJobLabnel" id="freelancerEditProfileNameField"></p>
  <p class="employerAddJobLabnel"><b>Skills and Experience</b></p>
  <input type="text" placeholder="Skills, experience, and certifications" name="requirdskills" id="freelancerEditProfileSkillsText" class="employerAddJobTextBox">
  <p class="employerAddJobLabnel"><b>College</b></p>
  <p class="employerAddJobLabnel" id="freelancerEditProfileCollegeField"></p>
  <button type="button" id="freelancerEditProfileCancelButton">Cancel</button>
  <button type="button" id="freelancerEditProfileUpdateButton">Update</button>
  <p></p><p></p>
  <p></p><p></p>
  <p></p><p></p>
  <button type="button" id="freelancerEditProfileDeleteButton">Delete</button>
  

<!-- 			  <p class="green"></p>
  <p class="blue"></p>
  <p class="red"></p> -->

</div>
