<div id="freelancerJobDetailsPage" class="fogBackground">
    <div class="freelancerJobGrid">
        <p class="gridRightAlighCol"><b>Job Title:</b></p>
        <p id="freelancerJobDetailsJobTitle"></p>
        <p class="gridRightAlighCol"><b>Description:</b></p>
        <p id="freelancerJobDetailsJobDescription"></p>
        <p class="gridRightAlighCol"><b>Required Skills:</b></p>
        <p id="freelancerJobDetailsRequiredSkills"></p>
        <p class="gridRightAlighCol"><b>Pay:</b></p>
        <p id="freelancerJobDetailsJobPay"></p>
    </div>

    <div class="freelancerJobApplicationSpacerGrid"><p></p></div>
    <div class="freelancerJobApplicationSpacerGrid"><p></p></div>
    
    <div class="freelancerJobDetailButtonGrid">
      <button type="button" id="freelancerJobDetailsBackButton">Back</button>
      <p></p>
      <button type="button" id="freelancerJobDetailsApplyButton">Apply</button>
    </div>
</div>

  

