<div id="jobApplicationContainer">
  <p id="jobApplicationFirstPar">Job Application</p>

  <p>Employer Name: <span id="jobApplicationEmplyerName"></span></p>
  <p>Job Title: <span id="jobApplicationJobTitle"></span></p>
  <p>Required skills: <span id="jobApplicationRequiredSkills"></span></p>
  <p>Description: <span id="jobApplicationJobDescription"></span></p>
  <p>Pay Rate: <span id="jobApplicationPayRate"></span></p>
  <p>
    <input id="jobApplicationBackButton" type="button" value="Back">
  </p>
</div>
