<div id="dialog-3" title="This is a title.">
<!--     <fieldset class="loginDialogFieldSet loginRadio">
        <legend>I'm a:</legend>

        <label class="loginRadio" for="loginDialogFreelancerRadio">Freelancer</label>
        <input class="loginRadio" type="radio" id="loginDialogFreelancerRadio" name="loginTypeRadioGroup" value="freelancer" checked></p>
        
        

        &nbsp;&nbsp;&nbsp;&nbsp;

        <label class="loginRadio" class="loginRadio" for="loginDialogEmployerRadio">Employer</label>
        <input class="loginRadio" type="radio" id="loginDialogEmployerRadio" name="loginTypeRadioGroup" value="employer">
        
    </fieldset> -->
    <fieldset class="field">
    <label for="loginDialogDropdown">Freelancer or employer?</label>
    <select name="position" id="loginDialogDropdown" class="inline dropdown" required>
        <option selected value>Freelancer</option>
        <option value="2">Employer</option>
    </select>


    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required id="loginDialogUsernameText">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required id="loginDialogPasswordText">
    </fieldset>
    <fieldset class="field">
        <input type="submit" id="dialogLoginButton" value="Login" class="submit">
    </fieldset>

    <div>
        <span id="loginDialogErrorMessage"></span>
    </div> 
    <!-- <button type="button" id="dialogLoginButton">Login</button> -->
<!--     <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>


    <div class="container" style="background-color:#f1f1f1">
        <button type="button" id="loginCancelButton" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>

    <div>
        <span id="loginDialogErrorMessage"></span>
    </div> -->
</div>