#header {
    position: relative;
    background-color: green;
    height: 100px;
}

#freelancerPageheader {
    position: relative;
    background-color: green;
    height: 100px;
}

.pageNavigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    margin-top: 100px;
    background-color: lightgray;
}

#employerPageheader {
    position: relative;
    background-color: green;
    height: 100px;
}

.content {
    margin-left: 200px;
    background-color: lightblue;
}

.initiallHidden {
    display: none;
}


.jobInJobList {
    
    position: relative;
    border: 3px solid green;
    margin: 3px;
}

#mainPageheader {
    height: 200px;
    position: relative;
    border: 3px solid green; 
}

.buttonContainer {
    margin-right: 5%;
    position:absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right:0;
}

.hiddenDiv {
    display: none;
}